export(CER_PCGS)
export(Create_Signac_CLIPER_obj)
export(Run_CLIPER)
export(aggregate_metacell_counts)
export(bind_cliper_summary)
export(cliper_functions)
export(cliper_install_deps)
export(cliper_load)
export(compare_p2g)
export(compute_region_enrichment_cisRest_externalBG)
export(compute_region_enrichment_cisRest_externalBG_geneMatched)
export(data_norm)
export(fix_chr_style)
export(gc_fq_normalize)
export(get_peaks_by_gene_gr)
export(get_c4a_celltype_colors)
export(get_c4a_colors)
export(ids_to_granges_safe)
export(liftover_snp_hg19_to_hg38)
export(make_gene_window_for_selected)
export(make_binned_coverage)
export(make_metacell_groups)
export(make_metacell_groups_from_emb)
export(make_one_celltype_block)
export(make_plot_region)
export(map_feature_intervals_to_assay_regions)
export(normalize_delta)
export(normalize_metacell_deseq2)
export(normalize_metacell_logcpm)
export(parse_peaks)
export(plot_cliper_p2g)
export(prepare_cliper_track)
export(prepare_gene_track)
export(prepare_gwas_track)
export(sample_cells_for_metacell)
export(score_cells_for_downsampling)
export(summarize_trait_bootstrap_enrichment)
