export(CER_PCGS)
export(Create_Signac_CLIPER_obj)
export(Run_CLIPER)
export(aggregate_metacell_counts)
export(cliper_functions)
export(cliper_load)
export(compare_p2g)
export(data_norm)
export(gc_fq_normalize)
export(get_peaks_by_gene_gr)
export(make_gene_window_for_selected)
export(make_metacell_groups)
export(make_metacell_groups_from_emb)
export(normalize_delta)
export(normalize_metacell_deseq2)
export(normalize_metacell_logcpm)
export(parse_peaks)
